body {
  background-color: #f8f9fa !important;
}

.sample-card {
  border-radius: 6px;
  border: 1px solid #dee2e6; /* Light gray border */
  margin-bottom: 15px; /* Spacing between cards */
  padding: 10px; /* Padding inside the card */
  background-color: #DFDFDF; /* Contrast background */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px; /* Limit card width to help center them */
}

.sample-card .card-header {
  border-bottom: 1px solid #dee2e6;
}

.sample-card .card-body > div {
  border-bottom: 1px solid #dee2e6; /* Border between sections inside the card */
  padding-bottom: 10px; /* Spacing for readability */
  margin-bottom: 10px; /* Spacing for readability */
}

.sample-card .card-body > div:last-child {
  border-bottom: none; /* Remove border for the last section */
}

/* Add clear boundaries in tables within cards */
.sample-card table {
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.sample-card table th,
.sample-card table td {
  border: 1px solid #dee2e6 !important;
}

#sample-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collapse-icon {
  font-weight: bold;
  user-select: none;
  font-size: 1.2em;
  margin-left: 8px;
}

.table th, .table td {
  vertical-align: middle;
}

.badge {
  font-size: 0.9em;
  margin-left: 4px;
}

table td[data-bar] {
  min-width: 160px;
}
